<footer class="text-primary pt-16 pb-8">
  <div class="container mx-auto px-4">
    <div class="grid md:grid-cols-2 gap-12 mb-12">
      <div>
        <div class="flex items-center mb-6">
          <h3 class="text-2xl font-bold">
            caominhtravel
          </h3>
        </div>
        <p class="text-lightblue mb-4">
          
        </p>
        <div class="flex space-x-4">
          <a
            href="#"
            class="w-10 h-10 bg-white-900 rounded-full flex items-center justify-center hover:bg-primary hover:text-white transition"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            href="#"
            class="w-10 h-10 bg-white-900 rounded-full flex items-center justify-center hover:bg-primary hover:text-white transition"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
            href="#"
            class="w-10 h-10 bg-white-900 rounded-full flex items-center justify-center hover:bg-primary hover:text-white transition"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a
            href="#"
            class="w-10 h-10 bg-white-900 rounded-full flex items-center justify-center hover:bg-primary hover:text-white transition"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>

      <div  class="grid md:grid-cols-2 gap-12 mb-12">
        <div  class="flex-30">
          <h4 class="text-xl font-bold mb-6">Quick Links</h4>
          <ul class="space-y-3">
            <li>
              <a
                href="/"
                class="text-lightblue hover:text-PRIbg-primary transition"
                >Home</a
              >
            </li>
            <li>
              <a
                href="privacy"
                class="text-lightblue hover:text-PRIbg-primary transition"
                >Privacy</a
              >
            </li>
            <li>
              <a
                href="eula"
                class="text-lightblue hover:text-PRIbg-primary transition"
                >EULA</a
              >
            </li>
            <li>
              <a
                href="contact"
                class="text-lightblue hover:text-PRIbg-primary transition"
                >Contact</a
              >
            </li>
          </ul>
        </div>

        <div>
          <h4 class="text-xl font-bold mb-6">Contact Us</h4>
          <ul class="space-y-4">
            <li class="flex items-start">
              <i class="fas fa-map-marker-alt text-PRIbg-primary mt-1 mr-3"></i>
              <span class="text-lightblue"
                ></span
              >
            </li>
            <li class="flex items-center">
              <i class="fas fa-phone-alt text-PRIbg-primary mr-3"></i>
              <a href="tel:+" class="hover:underline">
                +84</a
              >
            </li>
            <li class="flex items-center">
              <i class="fas fa-envelope text-PRIbg-primary mr-3"></i>
              <a
                href="mailto:example&#64;gmail.com"
                class="text-primary hover:underline"
                >example&#64;gmail.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="border-t border-blue-900 pt-8 flex flex-col md:flex-row justify-between items-center"
    >
      <p class="text-lightblue mb-4 md:mb-0">
        © 2025 caominhtravel. All rights
        reserved.
      </p>
      <div class="flex space-x-6">
        <a
          href="privacy"
          class="text-lightblue hover:text-PRIbg-primary transition"
          >Privacy Policy</a
        >
        <a
          href="eula"
          class="text-lightblue hover:text-PRIbg-primary transition"
          >EULA</a
        >
      </div>
    </div>
  </div>
</footer>
